body, html {
  height: 100%;
}

body {
  background-color: #1E2325;
}

.container {
  overflow: auto;
  height: 100%;
}

.media {
  width: 600px;
  margin: 0 auto;
  overflow: auto;
}

li {
  width: 100%;
  margin-bottom: 40px;

  > * { width: inherit; }
  &:first-child { margin-top: 40px; }
}
